<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Read2</title>
    <link rel="stylesheet" href="./static/ovenstyle.css">
</head>
<body>

<!-- 560 x 355 width for 3 columns on screen -->
<table>
    <tr>
        <td><canvas id="canvas1" width="750" height="350"></canvas></td>
        <td><canvas id="canvas2" width="750" height="350"></canvas></td>
    </tr>
    <tr>
        <td><canvas id="canvas3" width="750" height="300"></canvas></td>
        <td><canvas id="canvas4" width="750" height="300"></canvas></td>
    </tr>
</table>

<!-- <textarea id="text1" cols="100" rows="10"></textarea> -->

<table class="table-status">
    <tr>
        <th>Front</th>
        <th>Back</th>
        <th>Top</th>
        <th>Bottom</th>
        <th>Left</th>
        <th>Right</th>
        <th>Setpoint</th>
        <th> </th>
        <th>Front</th>
        <th>Back</th>
        <th>Low</th>
        <th>Mid</th>
        <th>High</th>
        <th>Air</th>
        <th> </th>
        <th> </th>
    </tr>
    <tr>
        <td id="bFront"></td>
        <td id="bBack"></td>
        <td id="bTop"></td>
        <td id="bBottom"></td>
        <td id="bLeft"></td>
        <td id="bRight"></td>
        <td id="bSetpoint"></td>
        <td id="spare1"></td>
        <td id="tFront"></td>
        <td id="tBack"></td>
        <td id="tLow"></td>
        <td id="tMid"></td>
        <td id="tHigh"></td>
        <td id="tAir"></td>
        <td id="t15"></td>
        <td id="t16"></td>
    </tr>
    <tr>
        <td id="bOut0"></td>
        <td id="bOut1"></td>
        <td id="bOut2"></td>
        <td id="bOut3"></td>
        <td id="bOut4"></td>
        <td id="bOut5"></td>
        <td id="adc7"></td>
        <td id="adc8"></td>
        <td id="adc9"></td>
        <td id="adc10"></td>
        <td id="adc11"></td>
        <td id="adc12"></td>
        <td id="adc13"></td>
        <td id="adc14"></td>
        <td id="adc15"></td>
        <td id="adc16"></td>
    </tr>
    <tr>
        <td><label class="toggle">
            <input type="checkbox" id="onoff" {% if initial_values['onoff'] %} checked {% endif %}>
            <span class="slider"></span>
            <span class="labels" data-on="ON" data-off="OFF"></span>
        </label></td>
        <td id="c10">Run Number</td>
        <td id="run_number"></td>
        <td id="c11">Min</td>
        <td id="run_time"></td>
        <td id="c12">Mean</td>
        <td id="average"></td>
        <td id="c13">Delta</td>
        <td id="error"></td>
        <td><button id="cal_zero">Cal 0</button></td>
        <td><button id="cal_one">Cal 1</button></td>
        <td><button id="cal_load">Load</button></td>
        <td><button id="cal_save">Save</button></td>
        <td><button id="cal_reset">Reset</button></td>
        <td id="c14"></td>
        <td id="c15"></td>
    </tr>
</table>

<table class=".table-run">
    <td><input type="text", id="test_comment" value="{{ initial_values['run_comment'] }}"></td>
    <td id="test_start" >Started at: {{ initial_values['run_start'] }}</td>
</table>


<!--suppress JSUnresolvedLibraryURL -->
<script src="static/jquery.min.js"></script>
<!--suppress JSUnresolvedLibraryURL -->
<script src="static/Chart.min.js"></script>
<script src="static/socket.io.js"></script>

<script>
    $(document).ready(function () {
        const color1 = 'rgb(255, 0, 0)';
        const color2 = 'rgb(0,255,0)';
        const color3 = 'rgb(0, 0, 255)';
        const color4 = 'rgb(255, 255, 0)';
        const color5 = 'rgb(255, 0, 255)';
        const color6 = 'rgb(0, 255, 255)';
        const color7 = 'rgb(120,120,120)';
        const color8 = 'rgb(40,40,40)';

        const config1 = {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                {
                    label: "Front",
                    backgroundColor: color1,
                    borderColor: color1,
                    data: [],
                    fill: false,
                },
                {
                    label: "Back",
                    backgroundColor: color2,
                    borderColor: color2,
                    data: [],
                    fill: false,
                },
                {
                    label: "Top",
                    backgroundColor: color3,
                    borderColor: color3,
                    data: [],
                    fill: false,
                },
                {
                    label: "Bottom",
                    backgroundColor: color4,
                    borderColor: color4,
                    data: [],
                    fill: false,
                },
                {
                    label: "Left",
                    backgroundColor: color5,
                    borderColor: color5,
                    data: [],
                    fill: false,
                },
                {
                    label: "Right",
                    backgroundColor: color6,
                    borderColor: color6,
                    data: [],
                    fill: false,
                },
                {
                    label: "Setpoint",
                    backgroundColor: color7,
                    borderColor: color7,
                    data: [],
                    fill: false,
                }
                ],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Box Temperatures'
                },
                tooltips: {
                    mode: 'null',
                    intersect: false,
                },
                hover: {
                    mode: 'null',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Time'
                        },
                        ticks:{
                            autoSkip: true,
                            maxTicksLimit: 10
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Degrees C'
                        }
                    }]
                }
            }
        };
        const config2 = {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                {
                    label: "Front",
                    backgroundColor: color1,
                    borderColor: color1,
                    data: [],
                    fill: false,
                },
                {
                    label: "Back",
                    backgroundColor: color2,
                    borderColor: color2,
                    data: [],
                    fill: false,
                },
                {
                    label: "Low",
                    backgroundColor: color3,
                    borderColor: color3,
                    data: [],
                    fill: false,
                },
                {
                    label: "Mid",
                    backgroundColor: color4,
                    borderColor: color4,
                    data: [],
                    fill: false,
                },
                {
                    label: "High",
                    backgroundColor: color5,
                    borderColor: color5,
                    data: [],
                    fill: false,
                },
                {
                    label: "Air",
                    backgroundColor: color6,
                    borderColor: color6,
                    data: [],
                    fill: false,
                }
                ],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Tub Temperatures'
                },
                tooltips: {
                    mode: 'null',
                    intersect: false,
                },
                hover: {
                    mode: 'null',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Time'
                        },
                        ticks:{
                            autoSkip: true,
                            maxTicksLimit: 10
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Degrees C'
                        }
                    }]
                }
            }
        };
        const config3 = {
            type: 'line',
            data: {
                labels: [],
                datasets: [
                {
                    label: "Front",
                    backgroundColor: color1,
                    borderColor: color1,
                    data: [],
                    fill: false,
                },
                {
                    label: "Back",
                    backgroundColor: color2,
                    borderColor: color2,
                    data: [],
                    fill: false,
                },
                {
                    label: "Top",
                    backgroundColor: color3,
                    borderColor: color3,
                    data: [],
                    fill: false,
                },
                {
                    label: "Bottom",
                    backgroundColor: color4,
                    borderColor: color4,
                    data: [],
                    fill: false,
                },
                {
                    label: "Left",
                    backgroundColor: color5,
                    borderColor: color5,
                    data: [],
                    fill: false,
                },
                {
                    label: "Right",
                    backgroundColor: color6,
                    borderColor: color6,
                    data: [],
                    fill: false,
                }
                ],
            },
            options: {
                responsive: true,
                title: {
                    display: true,
                    text: 'Box Outputs'
                },
                tooltips: {
                    mode: 'null',
                    intersect: false,
                },
                hover: {
                    mode: 'null',
                    intersect: true
                },
                scales: {
                    xAxes: [{
                        display: true,
                        scaleLabel: {
                            display: false,
                            labelString: 'Time'
                        },
                        ticks:{
                            autoSkip: true,
                            maxTicksLimit: 10
                        }
                    }],
                    yAxes: [{
                        display: true,
                        scaleLabel: {
                            display: true,
                            labelString: 'Value'
                        }
                    }]
                }
            }
        };

        const context1 = document.getElementById('canvas1').getContext('2d');
        const context2 = document.getElementById('canvas2').getContext('2d');
        const context3 = document.getElementById('canvas3').getContext('2d');

        const lineChart1 = new Chart(context1, config1);
        const lineChart2 = new Chart(context2, config2);
        const lineChart3 = new Chart(context3, config3);

        // Connect to the Flask-SocketIO server
        const socket = io.connect('http://' + document.domain + ':' + location.port);

        // on/off switch
        const onoff = document.getElementById('onoff');
        const test_comment = document.getElementById('test_comment');
        onoff.onchange = function(){
            var onoffval = onoff.checked;
            socket.emit('update_onoff',onoffval,test_comment.value);
        }

        // Cal zero
        const calzero = document.getElementById('cal_zero');
        calzero.onclick = function(){
            socket.emit('cal_zero');
        }

        // Cal one
        const calone = document.getElementById('cal_one');
        calone.onclick = function(){
            socket.emit('cal_one');
        }

        // Calibration load
        const calload = document.getElementById('cal_load');
        calload.onclick = function(){
            socket.emit('cal_load');
        }

        // Calibration save
        const calsave = document.getElementById('cal_save');
        calsave.onclick = function(){
            socket.emit('cal_save');
        }

        // Calibration reset
        const calreset = document.getElementById('cal_reset');
        calreset.onclick = function(){
            socket.emit('cal_reset');
        }

        // Listen for the 'update_data' event from the server

        // for debugging show the json data in a text box below the graphs
        //document.getElementById('text1').innerHTML = message;

        // following lines controls the shifting of time axis                          
        // if (config1.data.labels.length === 10000) {
        //     config1.data.labels.shift();
        //     config2.data.labels.shift();
        //     config1.data.datasets[0].data.shift();
        //     config1.data.datasets[1].data.shift();
        //     config1.data.datasets[2].data.shift();
        // }

        socket.on('update_data', function (message) {
            const data = JSON.parse(message);

            config1.data.labels.push(data['time']);
            config1.data.datasets[0].data.push(data['box_temp'][0]);
            config1.data.datasets[1].data.push(data['box_temp'][1]);
            config1.data.datasets[2].data.push(data['box_temp'][2]);
            config1.data.datasets[3].data.push(data['box_temp'][3]);
            config1.data.datasets[4].data.push(data['box_temp'][4]);
            config1.data.datasets[5].data.push(data['box_temp'][5]);
            config1.data.datasets[6].data.push(data['box_set']);
            lineChart1.update();

            config2.data.labels.push(data['time']);
            config2.data.datasets[0].data.push(data['tub_temp'][0]);
            config2.data.datasets[1].data.push(data['tub_temp'][1]);
            config2.data.datasets[2].data.push(data['tub_temp'][2]);
            config2.data.datasets[3].data.push(data['tub_temp'][3]);
            config2.data.datasets[4].data.push(data['tub_temp'][4]);
            config2.data.datasets[5].data.push(data['tub_temp'][5]);
            lineChart2.update();

            config3.data.labels.push(data['time']);
            config3.data.datasets[0].data.push(data['box_out'][0]);
            config3.data.datasets[1].data.push(data['box_out'][1]);
            config3.data.datasets[2].data.push(data['box_out'][2]);
            config3.data.datasets[3].data.push(data['box_out'][3]);
            config3.data.datasets[4].data.push(data['box_out'][4]);
            config3.data.datasets[5].data.push(data['box_out'][5]);
            lineChart3.update();

            document.getElementById('bFront').innerHTML = data['box_temp'][0].toFixed(2);
            document.getElementById('bBack').innerHTML = data['box_temp'][1].toFixed(2);
            document.getElementById('bTop').innerHTML = data['box_temp'][2].toFixed(2);
            document.getElementById('bBottom').innerHTML = data['box_temp'][3].toFixed(2);
            document.getElementById('bLeft').innerHTML = data['box_temp'][4].toFixed(2);
            document.getElementById('bRight').innerHTML = data['box_temp'][5].toFixed(2);
            document.getElementById('bSetpoint').innerHTML = data['box_set'].toFixed(2);

            document.getElementById('tFront').innerHTML = data['tub_temp'][0].toFixed(2);
            document.getElementById('tBack').innerHTML = data['tub_temp'][1].toFixed(2);
            document.getElementById('tLow').innerHTML = data['tub_temp'][2].toFixed(2);
            document.getElementById('tMid').innerHTML = data['tub_temp'][3].toFixed(2);
            document.getElementById('tHigh').innerHTML = data['tub_temp'][4].toFixed(2);
            document.getElementById('tAir').innerHTML = data['tub_temp'][5].toFixed(2);

            document.getElementById('bOut0').innerHTML = data['box_out'][0].toFixed(2);
            document.getElementById('bOut1').innerHTML = data['box_out'][1].toFixed(2);
            document.getElementById('bOut2').innerHTML = data['box_out'][2].toFixed(2);
            document.getElementById('bOut3').innerHTML = data['box_out'][3].toFixed(2);
            document.getElementById('bOut4').innerHTML = data['box_out'][4].toFixed(2);
            document.getElementById('bOut5').innerHTML = data['box_out'][5].toFixed(2);
        });

    });

</script>
</body>
</html>                    